
.title {
display:flex;
justify-content: center;
color:black;
 background: white;
  border: 15px solid black;
  margin: 20px;
  padding: 10px;
  font-family: serif;
  font-size: 30px;
}

.myfuture{
display:flex;
	justify-content: center;	
}

.question-container{
	display: flex;
	justify-content: center
}

.question{
	color:black;
 background: white;
  border: 15px solid black;
  margin: 20px;
  padding: 10px;
  font-family: serif;
  font-size: 20px;
}


.answer{
	color:black;
 background: white;
  border: 15px solid black;
  margin: 20px;
  padding: 10px;
  font-family: serif;
  font-size: 20px;
}

.janimg {
 display; flex;
 align-self: center; 
 margin-top: 650px;
 margin-bottom: 650px;
 background: white;
}

.paragraph1{
display; flex;
 align-self: center;
	color:black;
 background: white;
  border: 15px solid black;
  margin-top: 450px;
 margin-bottom: 450px;
  padding: 10px;
  font-family: serif;
  font-size: 20px;
}

.febimg {
  display; flex;
 align-self: center;
 margin-bottom: 650px;
}

.paragraph2{
display; flex;
 align-self: center;
	color:black;
 background: white;
  border: 15px solid black;
  margin-top: 450px;
 margin-bottom: 450px;
  padding: 10px;
  font-family: serif;
  font-size: 20px;
}

.marchimg {
  display; flex;
 align-self: center;
 margin-bottom: 650px;
}

.paragraph3{
display; flex;
 align-self: center;
	color:black;
 background: white;
  border: 15px solid black;
  margin-top: 450px;
 margin-bottom: 450px;
  padding: 10px;
  font-family: serif;
  font-size: 20px;
}

.aprilimg {
 display; flex;
 align-self: center;
 margin-bottom: 650px;
}

.paragraph4{
display; flex;
 align-self: center;
	color:black;
 background: white;
  border: 15px solid black;
  margin-top: 450px;
 margin-bottom: 450px;
  padding: 10px;
  font-family: serif;
  font-size: 20px;
}

.mayimg {
 display; flex;
 align-self: center;
 margin-bottom: 650px;
}

.paragraph5{
display; flex;
 align-self: center;
	color:black;
 background: white;
  border: 15px solid black;
  margin-top: 450px;
 margin-bottom: 450px;
  padding: 10px;
  font-family: serif;
  font-size: 20px;
}

.juneimg {
 display; flex;
 align-self: center;
 margin-bottom: 650px;
}

.paragraph6{
display; flex;
 align-self: center;
	color:black;
 background: white;
  border: 15px solid black;
  margin-top: 450px;
 margin-bottom: 450px;
  padding: 10px;
  font-family: serif;
  font-size: 20px;
}

.julyimg {
  display; flex;
 align-self: center;
 margin-bottom: 650px;
}

.paragraph7{
display; flex;
 align-self: center;
	color:black;
 background: white;
  border: 15px solid black;
  margin-top: 450px;
 margin-bottom: 450px;
  padding: 10px;
  font-family: serif;
  font-size: 20px;
}

.augimg {
display; flex;
 align-self: center;
 margin-bottom: 650px;
}

.paragraph8{
display; flex;
 align-self: center;
	color:black;
 background: white;
  border: 15px solid black;
  margin-top: 450px;
 margin-bottom: 450px;
  padding: 10px;
  font-family: serif;
  font-size: 20px;
}

.septimg{
	display; flex;
 align-self: center;
 margin-bottom: 200px;
}

.paragraph9{
display; flex;
 align-self: center;
	color:black;
 background: white;
  border: 15px solid black;
  margin-top: 450px;
 margin-bottom: 450px;
  padding: 10px;
  font-family: serif;
  font-size: 20px;
}